<div style="width: 100%; height: 60%; background-color: lightgrey; text-align: center">
  <div style="font-size:larger;font-weight: bold">Factory</div>
  <span id="engine" style="width: 45%; display: inline-block; vertical-align: middle">
  </span> 
  <span id="cooler" style="width: 45%; display: inline-block; vertical-align: middle">
  </span>
</div>
<div style="width: 100%; height: 35%; background-color: grey; text-align: center">
  <div style="font-size: larger; font-weight: bold;">Control Panel</div>
  <span id="thermometer" style="width: 30%; display: inline-block; vertical-align: middle">
  </span>
  <span id="alert" style="width: 30%; display: inline-block; vertical-align: middle"></span>
  </span>
  <span id="activate_cooler" style="width: 30%; display: inline-block; vertical-align: middle"></span>
  </span>
</div>
